@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&family=Tourney:wght@200&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
}

:root {
    --base-color: #2b2b2b;
    --text-color: #e6edf3;
    --text-color-second: #7d8590;

    --color-selection: #262636;
    --color-details: #66d4ff;
}

body {
    background-color: var(--base-color);
    color: var(var(--text-color));
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
    color: var(--text-color);
}

.container {
    max-width: 1040px;
    width: 100%;
    margin: auto;
    padding: 20px;
}
