:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.nav-link {
    text-decoration: none;
    color: #0CAFC1;
    transition: .3s;
}

.nav-link:hover {
    font-weight: 500;
    color: #55cc44;
}

.card {
    transition: .3s;
}

.card:hover {
    border: 2px solid #0CAFC1
}
