:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.nav-link {
    text-decoration: none;
    color: #0CAFC1;
    transition: .3s;
}

.nav-link:hover {
    font-weight: 500;
    color: #55cc44;
}

.card {
    transition: .3s;
}

.card:hover {
    border: 1px solid #0CAFC1;
    opacity: 0.9;
    transform: scale(1.01 );
    box-shadow: rgba(85, 204, 68, 0.35) 0px 5px 15px;
}

@media (max-width: 1400px) {
    .card-card {
       min-height: 26rem;
    }
}

@media (max-width: 1000px) {
    .wrap-card {
        margin: 1rem;
    }

    .cards {
        justify-content: center;
    }
    .card-card {
        min-height: initial;
     }
}

@media (max-width: 767px) {
    .wrap-card {
        margin: initial;
    }

    .cards {
        justify-content: center;
    }

}
